/* 
Color pallete. This section defines variables for the color pallete,
so that we can refer to particular colors by name instead of hexadecimal values.
This is applied to the 'root' psuedo-element, which just means that these color
variables are available to be used anywhere in our html document
*/
:root {
    --white-font: #FFFFFF;
    --black-font: #000000;
    --color5: 0B1D51;
    --color4: 797596;
    --color3: A1869E;
    --color2: BBADA0;
    --color1: D1C6AD;
    --colornew: AFDFB5;
    /* add in other color variables for color pallete */
}

/* Defines the main container size, we are limiting to 72em max and centring in the viewport */
.main-container {
    max-width: 72em;
    margin: 0 auto;
    font-family: David Libre;
    background-color: rgb(	175, 223, 181);
    /* TODO: set the main font color */
}

.Title {
    font-size: 100px;
}
.BaseText {
    font-size: 27px;
}
.Images {
    object-fit: cover;
    width: 100%;
    height: auto;
}
.ExampleIntro {
    min-height: 32em;
    display: flex;
    flex-direction: column;
    
}
.Introduction {
    font-size: 30px;
}
.DiscoverScanLearn {
    text-align: center;
    font-size: 35px;
}
.CreditsTitle {
    font-size: 64px;
}
.CreditsSources {
    font
}
#TitleText {
    grid-area: TT1;
}

#BasilIntro {
    grid-area: BI1;
}

#ArcDeTriompheIntro {
    grid-area: AI1;
}

#AppIntroductionText {
    grid-area: AT1;
    text-align: center;
    margin-left: 8Rem;
    margin-right: 8Rem;
}

#InternetData {
    grid-area: ID1;
}

#PhoneScan {
    grid-area: PS1;
}

#BasilScanned {
    grid-area: BS1;
}

#ArcDeTrimpheScanned {
    grid-area: AS1;
}

#BaselineInspiration {
    grid-area: BN1;
    font-size: 27px;
    margin-left: 8Rem;
    margin-right: 8Rem;
}

#BloodLeaf {
    grid-area: BL1;
}

#BlueDragon {
    grid-area: BD1;
}
#BulletTrain {
    grid-area: BT1;
}

#DiscoverScanLearn {
    grid-area: ZX1;
}

#Credits {
    grid-area: CS1;
}



/* Use a flexible layout grid */
.main-container {
    display: grid;
    row-gap: 1em;
    column-gap: 1em;
    object-fit: fill;
}
.grid-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* or "contain" */
  }

  
/* 
Responsive Layout breakpoints. We start 'mobile-first' i.e. we define how the layout should look
for the smallest screen sizes. In this case we want a single column that spans the main container.
Because this CSS definition comes first, it will apply by default. Then we override it below with 
media queries for progressively bigger screen widths
*/
.main-container {
    /* TODO: setup the grid-template for mobile phone layout */
    grid-template:
        "TT1" minmax(auto, auto)
        "BI1" minmax(auto, auto)
        "AI1" minmax(auto, auto)
        "AT1" minmax(auto, auto)
        "ID1" minmax(auto, auto)
        "PS1" minmax(auto, auto)
        "BS1" minmax(auto, auto)
        "AS1" minmax(auto, auto)
        "BN1" minmax(auto, auto)
        "BL1" minmax(auto, auto)
        "BD1" minmax(auto, auto)
        "BT1" minmax(auto, auto)
        "DS1" minmax(auto, auto)
        "CS1" minmax(auto, auto)
}
@media (min-width: 50em) {
    .main-container {
            /* TODO: setup the grid-template for tablet layout */
            grid-template:
            "TT1 TT1 TT1 TT1 TT1 TT1 TT1 TT1 TT1 TT1 TT1 TT1" minmax(auto, auto)
            "BI1 BI1 BI1 BI1 BI1 BI1 AI1 AI1 AI1 AI1 AI1 AI1" minmax(auto, auto)
            "AT1 AT1 AT1 AT1 AT1 AT1 AT1 AT1 AT1 AT1 AT1 AT1" minmax(auto, auto)
            "ID1 ID1 ID1 ID1 ID1 ID1 PS1 PS1 PS1 PS1 PS1 PS1" minmax(auto, auto)
            "BS1 BS1 BS1 BS1 BS1 BS1 AS1 AS1 AS1 AS1 AS1 AS1" minmax(auto, auto)
            "BN1 BN1 BN1 BN1 BN1 BN1 BN1 BN1 BN1 BN1 BN1 BN1" minmax(auto, auto)
            "BL1 BL1 BL1 BL1 BL1 BL1 BT1 BT1 BT1 BT1 BT1 BT1" minmax(auto, auto)
            ".   .   .  BD1 BD1 BD1 BD1 BD1 BD1 .    .   .  "minmax(auto, auto)
            "DS1 DS1 DS1 DS1 DS1 DS1 DS1 DS1 DS1 DS1 DS1 DS1" minmax(auto, auto)
            "CS1 CS1 CS1 CS1 CS1 CS1 CS1 CS1 CS1 CS1 CS1 CS1" minmax(auto, auto)
    }
}

@media (min-width: 75em) {
    .main-container {
        /* TODO: setup the grid-template for desktop layout */
        grid-template:
        "TT1 TT1 TT1 TT1 TT1 TT1" minmax(auto, auto)
        "BI1 BI1 BI1 AI1 AI1 AI1" minmax(auto, auto)
        "AT1 AT1 AT1 AT1 AT1 AT1" minmax(auto, auto)
        "ID1 ID1 ID1 PS1 PS1 PS1" minmax(auto, auto)
        "BS1 BS1 BS1 AS1 AS1 AS1" minmax(auto, auto)
        "BN1 BN1 BN1 BN1 BN1 BN1" minmax(auto, auto)
        "BL1 BL1 BD1 BD1 BT1 BT1" minmax(auto, auto)
        "ZX1 ZX1 ZX1 ZX1 ZX1 ZX1" minmax(auto, auto)
        "CS1 CS1 CS1 CS1 CS1 CS1" minmax(auto, auto)
    }
}

/* Image sizing for consistent appearance */
.grid-item img {
    max-width: 100%; /* Ensure images don't exceed their container's width */
    height: auto; /* Maintain aspect ratio */
    width: 100%; /* Force the image to take up the entire width of its container */
    height: 100%; /* Force the image to take up the entire height of its container */
}